## –û–ø–∏—Å–∞–Ω–∏–µ

–°—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ —Ñ–∏–≥—É—Ä–Ω–æ–≥–æ –∫–∞—Ç–∞–Ω–∏—è

## –ò–º–ø–æ—Ä—Ç—ã

In [2]:
pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (4.13.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [3]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (5.3.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

## –ü–æ–ª—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–í –∫–∞—á–µ—Å—Ç–≤–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –≤–∑—è—Ç —Å–∞–π—Ç —Å –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã–º–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏–π –ø–æ —Ñ–∏–≥—Ä—É–Ω–æ–º—É –∫–∞—Ç–∞–Ω–∏—é –≤ –Ω–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –æ—Ü–µ–Ω–∏–≤–∞–Ω–∏—è

–û–±—â–∏–π –≤–∏–¥ —Å—Ç—Ä–∞–Ω–∏—Ü—ã –≤—ã–≥–ª—è–¥–∏—Ç —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:

https://skatingscores.com/2425/wc/sr/women/i/short/usa/alysa_liu/

https://skatingscores.com/—Å–µ–∑–æ–Ω/—á–µ–º–ø–∏–æ–Ω–∞—Ç/–≤–æ–∑—Ä–∞—Å—Ç–Ω–∞—è –∫–∞—Ç–µ–≥–æ—Ä–∏—è/–¥–∏—Å—Ü–∏–ø–ª–∏–Ω–∞/i/–ø—Ä–æ–≥—Ä–∞–º–º–∞/—Å—Ç—Ä–∞–Ω–∞/—É—á–∞—Å—Ç–Ω–∏–∫/

–°–æ–±–µ—Ä–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –¥–ª—è —á–µ–º–ø–∏–æ–Ω–∞—Ç–æ–≤ –º–∏—Ä–∞ –∑–∞ –≤—Å–µ –≥–æ–¥–∞ —Å –Ω–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–æ–π –æ—Ü–µ–Ω–∏–≤–∞–Ω–∏—è –≤ –≤–∑—Ä–æ—Å–ª–æ–º –∂–µ–Ω—Å–∫–æ–º –æ–¥–∏–Ω–æ—á–Ω–æ–º –∫–∞—Ç–∞–Ω–∏–∏. –î–ª—è —ç—Ç–æ–≥–æ –Ω—É–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∏–º–µ–Ω —É—á–∞—Å—Ç–Ω–∏—Ü

In [5]:
# –û–±—â–∞—è —Å—Ç—Ä–∞–Ω–∏—Ü–∞ —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ –∫–æ—Ä–æ—Ç–Ω–æ–π –ø—Ä–æ–≥—Ä–∞–º–º—ã —Å–µ–∑–æ–Ω–∞ 24-25
url = 'https://skatingscores.com/2425/wc/sr/women/i/short/'
# –ù–∞—á–∞–ª–æ —Å—Å—ã–ª–∫–∏ –¥–ª—è —É—á–∞—Å—Ç–Ω–∏—Ü—ã
base_link = 'https://skatingscores.com/2425/wc/sr/women/i/short/'
# –ü—Ä–æ–≤–µ—Ä—è–µ–º –¥–æ—Å—Ç—É–ø 
page = requests.get(url)
print(page.status_code)
# –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
soup = BeautifulSoup(page.text, "html.parser")

200

In [6]:
# –ü–æ–ª—É—á–∞–µ–º –≤—Å–µ —Å—Å—ã–ª–∫–∏
for link in soup.find_all('a'):
    link_ = link.get('href')
    # –§–∏–ª—å—Ç—Ä—É–µ–º —Å—Å—ã–ª–∫–∏ —É—á–∞—Å—Ç–Ω–∏—Ü –æ—Ç —Å—Å—ã–ª–æ–∫ –Ω–∞ —Å—É–¥–µ–π –∏ –ø—Ä–æ—á–∏—Ö –≤–æ–∑–º–æ–∂–Ω—ã—Ö –ø–æ —à–∞–±–ª–æ–Ω—É
    if '/re/2425/wc/sr/women/i/short' in link_:
        country_girl = link_.split('/')[-3]
        girl = link_.split('/')[-2]
        # –°–æ–±–∏—Ä–∞–µ–º —Å—Å—ã–ª–∫—É
        girl_link = base_link+'/'+country_girl+'/'+girl+'/'
        print(girl_link)
        page_girl = requests.get(girl_link)
        print(page_girl.status_code)    
        soup_girl = BeautifulSoup(page_girl.text, "html.parser")
        time.sleep(5)
        break

https://skatingscores.com/2425/wc/sr/women/i/short//usa/alysa_liu/
200

In [ ]:
# –ü–æ–ª—É—á–∞–µ–º –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã —Å–æ —Å—Ç—Ä–∞–Ω–∏—Ü—ã
tables = soup_girl.find_all('table')

In [ ]:
## –í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –Ω–∞–¥–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ñ–æ—Ä–º–∞—Ç—É –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞, –æ—Å—Ç–∞–≤–∏–≤ —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏

# –í –∏—Ç–æ–≥–µ –¥–æ–ª–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—Å—è –¥–≤–µ —Ç–∞–±–ª–∏—Ü—ã - –≤ —Ä–∞–∑—Ä–µ–∑–µ –æ–±—â–∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∏ –ø–æ–¥—Ä–æ–±–Ω–æ –ø–æ —ç–ª–µ–º–µ–Ω—Ç–∞–º

# –í –ø–µ—Ä–≤–æ–π —Ç–∞–±–ª–∏—Ü–µ —Å—Ç–∞—Ä—Ç–æ–≤—ã–π –Ω–æ–º–µ—Ä, –¥–µ–¥–∞–∫—à–∏–Ω –∏ —Ç–æ—Ç–∞–ª
df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: '–°–ø–æ—Ä—Ç—Å–º–µ–Ω–∫–∞', 2: '–°—Ç—Ä–∞–Ω–∞', 3: '–°—Ç–∞—Ä—Ç–æ–≤—ã–π –Ω–æ–º–µ—Ä', 4: '–î–µ–¥–∞–∫—à–Ω', 5: '–ò—Ç–æ–≥–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç'})
df_1

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_19968\1545850799.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: '–°–ø–æ—Ä—Ç—Å–º–µ–Ω–∫–∞', 2: '–°—Ç—Ä–∞–Ω–∞', 3: '–°—Ç–∞—Ä—Ç–æ–≤—ã–π –Ω–æ–º–µ—Ä', 4: '–î–µ–¥–∞–∫—à–Ω', 5: '–ò—Ç–æ–≥–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç'})

   0  –°–ø–æ—Ä—Ç—Å–º–µ–Ω–∫–∞ –°—Ç—Ä–∞–Ω–∞ –°—Ç–∞—Ä—Ç–æ–≤—ã–π –Ω–æ–º–µ—Ä –î–µ–¥–∞–∫—à–Ω –ò—Ç–æ–≥–æ–≤—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç
1  1  Alysa LIU21    USA              18    0.00           PB 74.58

In [ ]:
# –í–æ –≤—Ç–æ—Ä–æ–π TSS —Å—É–¥–µ–π
df_2 = pd.read_html(str(tables[1]))[0]    
df_2 = df_2.drop(columns=[i for i  in range(6)]+[15]).rename(columns=df_2.iloc[0]).tail(1)
# –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ —Ü–∏—Ñ—Ä—ã
df_2  = df_2 .replace(to_replace ='\d{1}\s', value = '', regex = True)
df_2

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_19968\1241738416.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_2 = pd.read_html(str(tables[1]))[0]

   ISR üáÆüá±  SVK üá∏üá∞  CZE üá®üáø  FRA üá´üá∑  NOR üá≥üá¥  SUI üá®üá≠  JPN üáØüáµ  ITA üáÆüáπ  ROU üá∑üá¥
1   77.23   75.71   73.06   72.85   74.68   73.65   73.92   75.45   74.65

In [46]:
pd.read_html(str(tables[10]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_19968\717955009.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[10]))[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),PB 4 33.78

In [58]:
df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T
df_3 = df_3.rename(columns=df_3.iloc[0]).tail(1)
df_3

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_19968\8891660.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T

   BVSB 2 32.59          BV        GOE    Jumps    Spins          TES
1  GOESB 1 8.21  SB 2 32.59  SB 1 8.21  1 22.76  1 12.75  SB 1  40.80

In [128]:
pd.read_html(str(tables[4]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\3962321705.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[4]))[0]

    0           1
0  BV  SB 2 32.59

In [129]:
pd.read_html(str(tables[5]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\3683640326.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[5]))[0]

     0          1
0  GOE  SB 1 8.21

In [130]:
pd.read_html(str(tables[6]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\248377429.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[6]))[0]

       0        1
0  Jumps  1 22.76

In [131]:
pd.read_html(str(tables[7]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\4217466188.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[7]))[0]

       0        1
0  Spins  1 12.75

In [132]:
pd.read_html(str(tables[8]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\2548042947.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[8]))[0]

     0            1
0  TES  SB 1  40.80

In [ ]:
# –≠–ª–µ–º–µ–Ω—Ç—ã –ø–æ–¥—Ä–æ–±–Ω–æ

# ## –¢—Ä–µ—Ç—å—è - –æ—Ü–µ–Ω–∫–∏ –∑–∞ —ç–ª–µ–º–µ–Ω—Ç—ã –ø–æ —Ç–µ—Ö–Ω–∏–∫–µ
# df_3 = pd.read_html(str(tables[2]))[0]

# pd.read_html(str(tables[9]))[0]

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_10668\717955009.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_html(str(tables[10]))[0]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),Program Component Score (factored),PB 4 33.78