## –û–ø–∏—Å–∞–Ω–∏–µ

–ü—Ä–∞–∫—Ç–∏–∫–∞ —Å–ª–µ–¥—É—é—â–∏—Ö —Ç–µ–º:
- –ü–∞—Ä—Å–∏–Ω–≥
- –í–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è 
- –ì–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∞—è –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏—è

–ü—Ä–µ–¥–º–µ—Ç–Ω–∞—è –æ–±–ª–∞—Å—Ç—å –¥–∞–Ω–Ω—ã—Ö:
- –§–∏–≥—É—Ä–Ω–æ–µ –∫–∞—Ç–∞–Ω–∏–µ

## –ò–º–ø–æ—Ä—Ç—ã

In [ ]:
pip install beautifulsoup4

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (4.13.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (from beautifulsoup4) (4.11.0)

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [2]:
pip install lxml

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in c:\users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\appdata\roaming\python\python39\site-packages (5.3.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.0.1 is available.
You should consider upgrading via the 'c:\Program Files (x86)\Microsoft Visual Studio\Shared\Python39_64\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time

In [2]:
import warnings
warnings.filterwarnings("ignore")

## –ü–æ–ª—É—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–í –∫–∞—á–µ—Å—Ç–≤–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∞ –≤–∑—è—Ç —Å–∞–π—Ç —Å –æ—Ñ–∏—Ü–∏–∞–ª—å–Ω—ã–º–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏–π –ø–æ —Ñ–∏–≥—Ä—É–Ω–æ–º—É –∫–∞—Ç–∞–Ω–∏—é –≤ –Ω–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–µ –æ—Ü–µ–Ω–∏–≤–∞–Ω–∏—è

–û–±—â–∏–π –≤–∏–¥ —Å—Ç—Ä–∞–Ω–∏—Ü—ã –≤—ã–≥–ª—è–¥–∏—Ç —Å–ª–µ–¥—É—é—â–∏–º –æ–±—Ä–∞–∑–æ–º:

https://skatingscores.com/2425/wc/sr/women/i/short/usa/alysa_liu/

https://skatingscores.com/—Å–µ–∑–æ–Ω/—á–µ–º–ø–∏–æ–Ω–∞—Ç/–≤–æ–∑—Ä–∞—Å—Ç–Ω–∞—è –∫–∞—Ç–µ–≥–æ—Ä–∏—è/–¥–∏—Å—Ü–∏–ø–ª–∏–Ω–∞/i/–ø—Ä–æ–≥—Ä–∞–º–º–∞/—Å—Ç—Ä–∞–Ω–∞/—É—á–∞—Å—Ç–Ω–∏–∫/

–°–æ–±–µ—Ä–µ–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –¥–ª—è —á–µ–º–ø–∏–æ–Ω–∞—Ç–æ–≤ –º–∏—Ä–∞ –∑–∞ –≤—Å–µ –≥–æ–¥–∞ —Å –Ω–æ–≤–æ–π —Å–∏—Å—Ç–µ–º–æ–π –æ—Ü–µ–Ω–∏–≤–∞–Ω–∏—è –≤ –≤–∑—Ä–æ—Å–ª–æ–º –∂–µ–Ω—Å–∫–æ–º –æ–¥–∏–Ω–æ—á–Ω–æ–º –∫–∞—Ç–∞–Ω–∏–∏. –î–ª—è —ç—Ç–æ–≥–æ –Ω—É–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∏–º–µ–Ω —É—á–∞—Å—Ç–Ω–∏—Ü

In [3]:
# –û–±—â–∞—è —Å—Ç—Ä–∞–Ω–∏—Ü–∞ —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º–∏ –∫–æ—Ä–æ—Ç–Ω–æ–π –ø—Ä–æ–≥—Ä–∞–º–º—ã —Å–µ–∑–æ–Ω–∞ 24-25
url = 'https://skatingscores.com/2425/wc/sr/women/i/short/'
# –ù–∞—á–∞–ª–æ —Å—Å—ã–ª–∫–∏ –¥–ª—è —É—á–∞—Å—Ç–Ω–∏—Ü—ã
base_link = 'https://skatingscores.com/2425/wc/sr/women/i/short/'
# –ü—Ä–æ–≤–µ—Ä—è–µ–º –¥–æ—Å—Ç—É–ø 
page = requests.get(url)
# print(page.status_code)
# –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ
soup = BeautifulSoup(page.text, "html.parser")

In [ ]:
## –ù–∞–º –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –ø—Ä–æ–π—Ç–∏—Å—å –ø–æ –≤—Å–µ–º –≥–æ–¥–∞–º

In [ ]:
# –ü–æ–ª—É—á–∞–µ–º –≤—Å–µ —Å—Å—ã–ª–∫–∏
df_total_score = pd.DataFrame()
for link in soup.find_all('a'):
    link_ = link.get('href')
    # –§–∏–ª—å—Ç—Ä—É–µ–º —Å—Å—ã–ª–∫–∏ —É—á–∞—Å—Ç–Ω–∏—Ü –æ—Ç —Å—Å—ã–ª–æ–∫ –Ω–∞ —Å—É–¥–µ–π –∏ –ø—Ä–æ—á–∏—Ö –≤–æ–∑–º–æ–∂–Ω—ã—Ö –ø–æ —à–∞–±–ª–æ–Ω—É
    if '/re/2425/wc/sr/women/i/short' in link_:
        country_girl = link_.split('/')[-3]
        girl = link_.split('/')[-2]
        # –°–æ–±–∏—Ä–∞–µ–º —Å—Å—ã–ª–∫—É
        girl_link = base_link+'/'+country_girl+'/'+girl+'/'
        # print(girl_link)
        page_girl = requests.get(girl_link)
        # print(page_girl.status_code)    
        soup_girl = BeautifulSoup(page_girl.text, "html.parser")
        time.sleep(3)
        # break
        # –ü–æ–ª—É—á–∞–µ–º –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã —Å–æ —Å—Ç—Ä–∞–Ω–∏—Ü—ã
        ### –ó–¥–µ—Å—å –º–Ω–æ–≥–æ —Ç–∞–±–ª–∏—Ü, —Ç–∞–∫ –∫–∞–∫ –≤ –∫–∞–∂–¥–æ–π –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ —Å–≤–æ—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –ø–æ —Ä–∞–∑–ª–∏—á–Ω—ã–º –æ—Ü–µ–Ω–∫–∞–º –∏–∏—Ö —Å–æ—Å—Ç–æ–≤–ª—è—é—â–∏–º
        tables = soup_girl.find_all('table')  
        # –ë–µ—Ä–µ–º –Ω—É–∂–Ω—ã–µ –Ω–∞–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã –∏–∑ –∫–∞–∂–¥–æ–π —Ç–∞–±–ª–∏—Ü—ã
        # –ó–¥–µ—Å—å —Å–∞–º–∞—è –æ–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –±–µ–∑ –ø–æ–¥—Ä–æ–±–Ω—ã—Ö –æ—Ü–µ–Ω–æ–∫ –∑–∞ —ç–ª–µ–º–µ–Ω—Ç—ã
        df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: 'Name', 2: 'Country', 4: 'Dedaction', 5: 'Total'})
        df_2 = pd.read_html(str(tables[1]))[0]    
        df_2 = df_2.drop(columns=[i for i  in range(6)]+[15]).rename(columns=df_2.iloc[0]).tail(1)
        df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T
        df_3 = df_3.rename(columns=df_3.iloc[0]).tail(1)
        df_4 = pd.read_html(str(tables[10]))[0]
        df_4 = df_4[[15]].rename(columns={15: 'Component'}).reset_index()
        df_4['index'] = 1
        df_4 = df_4.set_index(['index'])
        df_first = df_1.join(df_2)
        df_second = df_3.join(df_4)
        df_all = df_first.join(df_second)
        df_all = df_all.drop([0], axis=1)
        df_total_score = pd.concat([df_total_score,df_all])  
# # –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ —Ü–∏—Ñ—Ä—ã
df_total_score = df_total_score.replace(to_replace ='\d+\s', value = '', regex = True)
df_total_score['Name'] = df_total_score['Name'].replace(to_replace ='\d+', value = '', regex = True)
# –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ –±—É–∫–≤—ã
df_total_score = df_total_score.replace(to_replace ='SB', value = '', regex = True) 
df_total_score = df_total_score.replace(to_replace ='PB', value = '', regex = True) 
df_total_score = df_total_score[['Name','Country','Dedaction','Total','ISR üáÆüá±','SVK üá∏üá∞','CZE üá®üáø','FRA üá´üá∑','NOR üá≥üá¥','SUI üá®üá≠','JPN üáØüáµ','ITA üáÆüáπ','ROU üá∑üá¥','BV','GOE','Jumps','Spins','TES','Component']]

In [122]:
df_total_score

,Name,Country,Dedaction,Total,ISR üáÆüá±,SVK üá∏üá∞,CZE üá®üáø,FRA üá´üá∑,NOR üá≥üá¥,SUI üá®üá≠,JPN üáØüáµ,ITA üáÆüáπ,ROU üá∑üá¥,BV,GOE,Jumps,Spins,TES,Component
1,Alysa LIU,USA,0.00,74.58,77.23,75.71,73.06,72.85,74.68,73.65,73.92,75.45,74.65,32.59,8.21,22.76,12.75,40.80,33.78
1,Mone CHIBA,JPN,0.00,73.44,72.79,73.43,71.87,74.15,74.57,75.04,71.86,75.10,74.04,31.93,7.41,22.27,12.59,39.34,34.10
1,Isabeau LEVITO,USA,0.00,73.33,74.18,75.19,73.28,68.65,70.59,75.11,74.12,74.73,71.42,32.59,6.68,21.50,12.37,39.27,34.06
1,Wakaba HIGUCHI,JPN,0.00,72.10,77.62,69.52,71.46,65.98,73.39,71.40,72.11,73.73,72.71,32.33,7.38,22.71,11.48,39.71,32.39
1,Kaori SAKAMOTO,JPN,0.00,71.03,72.33,68.51,69.59,69.94,71.47,71.76,71.47,71.44,70.87,28.00,7.99,19.73,11.64,35.99,35.04
1,Madeline SCHIZAS,CAN,0.00,69.18,69.13,68.18,70.23,68.19,67.20,70.00,69.22,70.70,68.77,31.89,6.56,22.40,11.09,38.45,30.73
1,Haein LEE,KOR,0.00,67.79,69.95,62.66,68.77,65.59,67.56,68.62,67.89,69.63,68.32,32.33,4.56,20.45,11.20,36.89,30.90
1,Nina PINZARRONE,BEL,0.00,67.74,68.87,66.63,68.91,66.96,68.62,68.64,64.87,66.96,67.74,32.09,4.11,19.32,11.87,36.20,31.54
1,Amber GLENN,USA,-1.00,67.65,69.19,61.78,68.82,64.77,67.68,68.18,66.83,69.68,69.39,34.89,1.02,20.95,10.72,35.91,32.74
1,Kimmy REPOND,SUI,0.00,67.42,69.54,62.33,67.54,68.60,64.93,70.87,66.52,68.73,66.13,30.89,5.58,20.74,11.58,36.47,30.95
1,Chaeyeon KIM,KOR,-1.00,65.67,69.56,64.94,66.50,59.12,65.53,65.89,67.19,65.44,64.94,31.39,3.42,18.02,11.78,34.81,31.86
1,Niina PETR√ïKINA,EST,0.00,65.58,67.97,67.40,65.07,63.06,64.58,66.72,64.98,64.25,65.40,29.63,4.83,17.88,11.51,34.46,31.12
1,Sofia SAMODELKINA,KAZ,0.00,63.58,65.19,63.87,63.24,61.35,64.64,64.70,62.90,63.59,63.34,31.63,3.06,20.19,10.87,34.69,28.89
1,Lara Naki GUTMANN,ITA,-1.00,61.72,61.07,62.12,61.45,60.12,61.14,59.53,62.78,62.57,62.35,30.05,2.71,17.05,10.64,32.76,29.96
1,Lorine SCHILD,FRA,0.00,60.59,58.55,55.61,63.53,61.62,58.00,62.62,61.72,60.03,61.43,31.09,2.33,20.07,9.77,33.42,27.17
1,Julia SAUTER,ROU,0.00,59.88,61.14,59.83,60.71,60.53,60.96,60.46,59.10,55.90,61.09,27.03,3.73,16.17,10.39,30.76,29.12
1,Olga MIKUTINA,AUT,0.00,59.63,59.59,55.20,59.55,56.10,60.23,60.25,60.17,61.51,60.91,26.20,4.83,15.15,10.81,31.03,28.60
1,Alexandra FEIGIN,BUL,0.00,57.22,58.96,56.50,57.28,52.65,55.88,59.27,56.72,57.85,58.53,29.53,2.56,18.78,8.96,32.09,25.13
1,Mariia SENIUK,ISR,0.00,56.96,60.22,52.79,60.55,57.69,56.23,54.43,57.46,55.54,57.57,32.39,-0.70,16.80,10.32,31.69,25.27
1,Linnea CEDER,FIN,0.00,56.79,56.23,59.01,58.62,54.60,60.47,56.30,53.37,56.24,56.68,28.33,2.91,17.54,9.08,31.24,25.55
1,Ekaterina KURAKOVA,POL,0.00,55.52,59.59,54.92,55.69,57.42,55.32,53.58,54.12,54.93,56.02,26.55,0.28,12.50,10.04,26.83,28.69
1,Kristen SPOURS,GBR,0.00,55.10,57.67,56.65,55.46,57.83,50.32,53.85,54.18,53.43,55.31,27.23,1.82,15.02,10.21,29.05,26.05
1,Livia KAISER,SUI,0.00,53.68,53.44,46.54,55.10,53.37,56.09,54.67,55.00,52.88,52.98,27.13,0.49,16.24,7.61,27.62,26.06
1,Meda VARIAKOJYTE,LTU,0.00,50.98,51.54,49.95,52.53,48.64,53.69,49.73,50.45,49.21,51.08,28.03,0.95,16.13,9.27,28.98,22.00
1,Nargiz S√úLEYMANOVA,AZE,0.00,50.97,49.89,48.89,47.31,49.97,55.36,50.54,52.78,51.61,53.03,27.93,0.48,15.63,9.86,28.41,22.56
1,Vanesa SELMEKOV√Å,SVK,0.00,49.55,51.93,49.36,49.16,51.53,47.55,51.04,49.95,46.05,49.74,29.89,-3.69,13.65,9.58,26.20,23.35
1,Xiangyi AN,CHN,-1.00,47.52,48.20,48.77,49.63,47.44,46.31,47.36,44.06,46.05,47.94,23.38,1.16,11.62,9.34,24.54,23.98
1,Anastasiia GUBANOVA,GEO,-1.00,47.31,51.03,45.86,50.28,48.61,46.45,43.66,49.47,46.26,43.75,23.89,-2.99,7.12,9.96,20.90,27.41
1,Mia Caroline RISA GOMEZ,NOR,0.00,46.43,45.38,48.18,46.83,51.08,46.16,42.21,45.14,45.54,47.79,22.63,0.05,8.40,9.99,22.68,23.75
1,Sofja STEPCHENKO,LAT,-1.00,45.93,47.00,44.08,47.18,45.17,46.03,48.09,46.65,42.40,47.72,26.02,-2.14,10.87,9.71,23.88,23.05
1,Ahsun YUN,KOR,-2.00,41.08,40.96,37.20,44.38,40.04,36.77,42.76,40.03,42.60,42.86,25.19,-5.25,7.38,8.49,19.94,23.14
1,Julija LOVRENCIC,SLO,0.00,40.95,43.04,40.45,41.70,39.45,41.89,40.68,42.23,40.13,37.75,22.82,-3.10,9.41,6.87,19.72,21.23
1,Anastasia GOZHVA,UKR,-2.00,37.54,36.51,37.10,39.52,36.19,39.40,35.48,39.06,36.22,37.83,24.95,-4.90,7.03,9.72,20.05,19.49

### –ü—Ä–æ—Ö–æ–¥–∏–º—Å—è –ø–æ —Å—Ç—Ä–∞–Ω–∏—Ü–µ

In [31]:
# –ü–æ–ª—É—á–∞–µ–º –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã —Å–æ —Å—Ç—Ä–∞–Ω–∏—Ü—ã
tables = soup_girl.find_all('table')

In [ ]:
# –ò–∑ –ø–µ—Ä–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã –æ—Å—Ç–∞–≤–ª—è–µ–º –∏–º—è, —Å—Ç—Ä–∞–Ω—É, –¥–µ–¥–∞–∫—à–µ–Ω(—à—Ç—Ä–∞—Ñ) –∏ –∏—Ç–æ–≥–æ–≤—É—é —Å—É–º–º—É –±–∞–ª–ª–æ–≤
df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: 'Name', 2: 'Country', 4: 'Dedaction', 5: 'Total'})
df_2 = pd.read_html(str(tables[1]))[0]    
df_2 = df_2.drop(columns=[i for i  in range(6)]+[15]).rename(columns=df_2.iloc[0]).tail(1)
df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T
df_3 = df_3.rename(columns=df_3.iloc[0]).tail(1)
df_4 = pd.read_html(str(tables[10]))[0]
df_4 = df_4[[15]].rename(columns={15: 'Component'}).reset_index()
df_4['index'] = 1
df_4 = df_4.set_index(['index'])
df_first = df_1.join(df_2)
df_second = df_3.join(df_4)
df_all = df_first.join(df_second)
df_all = df_all.drop([0], axis=1)
df_all

In [79]:
## –í—Å–µ —Ç–∞–±–ª–∏—Ü—ã –Ω–∞–¥–æ –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ —Ñ–æ—Ä–º–∞—Ç—É –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞, –æ—Å—Ç–∞–≤–∏–≤ —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏

# –í –∏—Ç–æ–≥–µ –¥–æ–ª–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—Å—è –¥–≤–µ —Ç–∞–±–ª–∏—Ü—ã - –≤ —Ä–∞–∑—Ä–µ–∑–µ –æ–±—â–∏—Ö —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∏ –ø–æ–¥—Ä–æ–±–Ω–æ –ø–æ —ç–ª–µ–º–µ–Ω—Ç–∞–º

# –ò–∑ –ø–µ—Ä–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã –æ—Å—Ç–∞–≤–ª—è–µ–º –∏–º—è, —Å—Ç—Ä–∞–Ω—É, –¥–µ–¥–∞–∫—à–µ–Ω(—à—Ç—Ä–∞—Ñ) –∏ –∏—Ç–æ–≥–æ–≤—É—é —Å—É–º–º—É –±–∞–ª–ª–æ–≤
df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: 'Name', 2: 'Country', 4: 'Dedaction', 5: 'Total'})
# df_1 = df_1.drop([3], axis=1).reset_index()
# df_1 = df_1.drop(['index'], axis=1)
df_1

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_11032\780115722.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_1 = pd.read_html(str(tables[0]))[0].tail(1).rename(columns={1: 'Name', 2: 'Country', 4: 'Dedaction', 5: 'Total'})

    0                Name Country  3 Dedaction  Total
1  33  Anastasia GOZHVA76     UKR  4     -2.00  37.54

In [82]:
# –í–æ –≤—Ç–æ—Ä–æ–π TSS –ø–æ —Å—É–¥—å—è–º
df_2 = pd.read_html(str(tables[1]))[0]    
df_2 = df_2.drop(columns=[i for i  in range(6)]+[15]).rename(columns=df_2.iloc[0]).tail(1)
# –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ —Ü–∏—Ñ—Ä—ã
# df_2 = df_2.replace(to_replace ='\d{1}\s', value = '', regex = True)
# df_2 = df_2.drop(['index'], axis=1)   
df_2

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_11032\459431234.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_2 = pd.read_html(str(tables[1]))[0]

,ISR üáÆüá±,SVK üá∏üá∞,CZE üá®üáø,FRA üá´üá∑,NOR üá≥üá¥,SUI üá®üá≠,JPN üáØüáµ,ITA üáÆüáπ,ROU üá∑üá¥
1,33 36.51,33 37.10,33 39.52,33 36.19,32 39.40,33 35.48,33 39.06,33 36.22,32 37.83

In [83]:
## –ò–∑ —ç—Ç–æ–π —Ç–∞–±–ª–∏—Ü—ã –≤–æ–∑—å–º–µ–º —Ç–µ—Ö–Ω–∏—á–µ—Å–∫—É—é —Ä–∞–∑–±–∏–≤–∫—É - BV, GOE, Jumps, Spins, TES
df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T
df_3 = df_3.rename(columns=df_3.iloc[0]).tail(1)
# –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ —Ü–∏—Ñ—Ä—ã
# df_3  = df_3.replace(to_replace ='\d{1}\s', value = '', regex = True)
# –£–±–∏—Ä–∞–µ–º –ª–∏—à–Ω–∏–µ –±—É–∫–≤—ã
# df_3  = df_3.replace(to_replace ='SB', value = '', regex = True)
# df_3 = df_3.drop(['BVSB 2 32.59'], axis=1).reset_index()
# df_3 = df_3.drop(['index'], axis=1)
# df_3 = df_3[['BV','GOE','Jumps','Spins','TES']]
df_3

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_11032\4161011731.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_3 = pd.read_html(str(tables[3]))[0][[0,1]].T

    BV 29 24.95        BV       GOE    Jumps    Spins        TES
1  GOE 32 -4.90  29 24.95  32 -4.90  33 7.03  24 9.72  31  20.05

In [97]:
df_4 = pd.read_html(str(tables[10]))[0]
# df_4  = df_4.replace(to_replace ='\d{1}\s', value = '', regex = True)
# df_4  = df_4.replace(to_replace ='PB', value = '', regex = True)
# df_4 = df_4[[15]]
df_4 = df_4[[15]].rename(columns={15: 'Component'}).reset_index()
df_4['index'] = 1
# df_4 = df_4.drop(['index'], axis=1)
df_4 = df_4.set_index(['index'])

C:\Users\–ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å\AppData\Local\Temp\ipykernel_11032\4108294425.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_4 = pd.read_html(str(tables[10]))[0]

In [96]:
df_first = df_1.join(df_2)
df_second = df_3.join(df_4)
df_all = df_first.join(df_second)
df_all = df_all.drop([0], axis=1)
df_all

,Name,Country,3,Dedaction,Total,ISR üáÆüá±,SVK üá∏üá∞,CZE üá®üáø,FRA üá´üá∑,NOR üá≥üá¥,...,JPN üáØüáµ,ITA üáÆüáπ,ROU üá∑üá¥,BV 29 24.95,BV,GOE,Jumps,Spins,TES,Component
1,Anastasia GOZHVA76,UKR,4,-2.00,37.54,33 36.51,33 37.10,33 39.52,33 36.19,32 39.40,...,33 39.06,33 36.22,32 37.83,GOE 32 -4.90,29 24.95,32 -4.90,33 7.03,24 9.72,31 20.05,33 19.49

In [ ]:
# –≠–ª–µ–º–µ–Ω—Ç—ã –ø–æ–¥—Ä–æ–±–Ω–æ

# ## –¢—Ä–µ—Ç—å—è - –æ—Ü–µ–Ω–∫–∏ –∑–∞ —ç–ª–µ–º–µ–Ω—Ç—ã –ø–æ —Ç–µ—Ö–Ω–∏–∫–µ
# df_3 = pd.read_html(str(tables[2]))[0]

# pd.read_html(str(tables[9]))[0]